

.contenedor-slogan{
	display: flex;
	width: 100%;
	background: url("../img/portada.jpg")no-repeat center center/cover;
	height: 550px;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	background-attachment: fixed;
}

.titulo{
	color: #f3c516;
	padding: 20px;
	font-size: 50px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.6839110644257703) 0%, rgba(255,255,255,0) 100%);
}

.slogan{
	color: #f3c516;
	padding: 20px;
	font-size: 30px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.6839110644257703) 0%, rgba(255,255,255,0) 100%);
	
}

.experiencia__contenedor{
	justify-content: center;
	text-align: center;
	padding: 60px 0px;
}

.experiencia__titulo, .lugares__titulo{
	padding-bottom: 50px;
}

.experiencia{
	display: flex;
	width: 90%;
	margin: auto;
	gap: 10px;
	
}

.experiencia__elemento{
	width: 25%;
}

.experiencia__elemento img{
	width: 60%;
}

.experiencia__elemento h3{
	padding: 15px;
}



.lugares__contenedor{
	text-align: center;
	padding: 60px 0px;
	border-bottom: 1px solid black;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,250,193,1) 100%);
}

.lugares__elemento{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid black;
	border-radius: 0px 0px 10px 10px;
	background: whitesmoke;
}

.lugares__elemento h4{
	padding: 10px;
}

.lugares__img{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 65%;
	margin: auto;
	grid-gap: 15px;
}

.lugares__img img{
	width: 100%;
	border: 1px solid white;
	box-shadow: 0px 0px 5px green;
}



.rutas__contenedor{
	padding: 60px 0px;
	background: #e52c55;
	text-align: center;
}

.rutas__titulo{
	
	color: white;
	font-size: 30px;
}

.rutas__subtitulo{
	color: white;
	padding-bottom: 50px;
}

.rutas{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 65%;
	margin: auto;
	gap: 20px;
}

.rutas__elemento{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 270px;
	box-shadow: 5px 5px 5px black;
	border-radius: 15px;
}

.rutas__elemento h4:nth-of-type(1){
	font-size: 22px;
	padding: 10px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 0px 0px;
}

.rutas__elemento h4:nth-of-type(2){
	font-size: 18px;
	color: #f3c516;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0px 0px 15px 15px;

}

.rutas div:nth-of-type(1){
	background: url("../img/cristo.jpg")no-repeat center center/cover;
}

.rutas div:nth-of-type(2){
	background: url("../img/shucto.jpg")no-repeat center center/cover;
}

.rutas div:nth-of-type(3){
	background: url("../img/wariwilca.jpg")no-repeat center center/cover;
}

.rutas div:nth-of-type(4){
	background: url("../img/plaza.jpg")no-repeat center center/cover;
}

@media screen and (max-width: 840px){

	.lugares__img{
		width: 90%;
	}

	.rutas{
		width: 80%;
	}

}


@media screen and (max-width: 640px) {

	.lugares__img{
		grid-template-columns: 1fr;
		width: 65%;
		grid-gap: 15px;
	}
	.rutas{
		grid-template-columns: 1fr;
		width: 65%;
		margin: auto;
		gap: 20px;
	}

	
}
