footer{
	background: #33CC66;
	color: black;
	text-align: center;
	padding: 10px;
	border-top: 1px solid black;
}



.footer__contenedor{
	display: flex;
	justify-content: center;
	font-size: 18px;
}



.footer__opcion,.footer__opcion--arriba{
	padding: 15px;
	list-style: none;
	box-sizing: border-box;
	padding: auto;

	position: relative;
}

.footer__opcion--arriba{
	width: 50px;
	grid-column: 3/4;
}

.footer__opcion--arriba a{
	text-decoration:none;
	color: black;
	font-size: 23px;
}

.footer__opcion a{
	text-decoration:none;
	color: black;
	font-weight: 600;

	display:block;
}

.datos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 14px;
	padding: 30px 30px 0px 30px;
}


.datos__opcion{
	margin: 15px 10px;
	padding: 10px;
	text-align: left;
	list-style: none;
}

.datos__logo{
	font-size: 26px;

}
.datos__logo img{
	width: 250px;
	border-radius: 30px;
}
.redes__contenedor{
	padding: 10px;
}

.redes__contenedor a{
	color: black;
	text-decoration: none;
	list-style: none;
}


/* menu desplegable */

.menu__footer ul ul{
	
	display:none;
	position:absolute;
	top:-190px;
	right: -8px;
	list-style: none;
	background: white;
	padding:10px;
	box-shadow: 5px 5px 15px black;
	border-radius: 10px;
	z-index: 2;
}

.menu__footer ul ul li {
	float:none;
	width:150px
}


.menu__footer ul ul li:hover{
	color: whitesmoke;
}

/* enlaces de los items del menu desplegable */

.menu__footer ul ul a {
 	line-height:120%;
 	padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

.menu__footer ul li:hover > ul {
	display:block;
}



@media screen and (max-width: 640px){
	.datos{
		grid-template-columns: repeat(2, 1fr);
		
	}

	.datos div:nth-of-type(1){
		grid-column: 1/3;
		padding: 20px 0px;
	}

	.datos__opcion{
		text-align: center;
	}

	.datos__contenedor{
		padding: 10px;
	}

	.footer__contenedor{
		display: grid;
		grid-template-columns: repeat(3,1fr);
	}

	.footer__contenedor li:nth-of-type(4){
		grid-column: 2/3;
	}
	
}