

.miga__contenedor{
	background: #e52c55;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0px 50px 0px;
	border-bottom: 1px solid black;
}

.miga__contenedor h5{
	padding: 10px;
}

.miga{
	width: 400px;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	background: #33CC66; 
	box-shadow: 0px 0px 15px gray;
	border-radius: 50px;
	height: 30px;
	border: 1px solid white;
	padding-left: 60px;
	list-style: none;
}

.miga__flecha{
	padding: 0px 15px;
}

.miga__elemento--home{
	padding: 25px;
	background: #048810;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	z-index: 1;
	color: white;
	position: absolute;
	margin-left: -95px;
	border: 1px solid white;
}

.miga__elemento{
	padding: 10px;
	background: #048810;
	margin: 5px;
	border-radius: 10px;
}

.miga__elemento--activate{
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	background: #33CC66;
}

.miga__elemento:hover, .miga__elemento--home:hover {
	
	background-color: #48ad51;
	
}

.miga__elemento a,.miga__elemento--home a{
	color: white;
	padding-top: 5px;
	text-decoration: none;
}

@media screen and (max-width: 640px){
	.miga{
		width: 280px;
		font-size: 14px;	
	}

	.miga__elemento--home{
		margin-left: -80px;
	}


}