*{
	margin: 0;
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	background: white;
}

.menu-principal {
	width: 90%;
	margin: auto;
	max-width: 1024px;
	display: flex;
	text-align: center;
	align-items: center;
	background: white;
}

.logo--forex{
	display: flex;
	justify-content: center;
}

.logo--forex img{
	width: 0px;
}

.menu-principal__opciones {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 60%;
	align-items: center;
	box-sizing: border-box;
}

.menu-principal__logo{
	width: 20%;
	padding: 5px 0px 5px 0px;
	
}

.menu-principal__logo img{
	width: 150px;
}

.social__contenedor{
	display: flex;
	width: 20%;
	gap: 30px;
}

.social__contenedor a i{
	color: green;
	font-size: 28px;
}

.menu__opcion {
	/* position*/
	position:relative;
 	

	padding: 15px;
	list-style: none;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 18px;
	border-top: 2px solid rgba(0, 0, 0, 0);
}

.menu__opcion:hover{
	border-top: 2px solid red;
	color: whitesmoke;
}

.menu__opcion a{
	text-decoration: none;
	color: green;

	/* display block */
	display:block;
}

.menu-btn{
	position: absolute;
	cursor: pointer;
	right: 2.5em;
	color: rgba(0, 0, 0, 0);
	top: 1em;
	padding: 5px 0px 5px 0px;
}

/* menu desplegable */

.menu-principal ul ul{
	
	display:none;
	position:absolute;
	top:40px;
	list-style: none;
	background: white;
	padding:10px;
	box-shadow: 5px 5px 15px black;
	border-radius: 10px;
}

.menu-principal ul ul li {
 float:none;
 width:150px
}


.menu-principal ul ul li:hover{
	
	color: whitesmoke;
}

/* enlaces de los items del menu desplegable */

.menu-principal ul ul a {
 	line-height:120%;
 	padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

.menu-principal ul li:hover > ul {
 display:block;
}

@media screen and (max-width: 840px) {

	.social__contenedor{
		position: absolute;
		right: 5000px;
	}
}



@media screen and (max-width: 640px) {

	.menu-btn{
		top: 1em;
		right: 1.5em;
		padding: 10px;
		color: green;
		border-color: whitesmoke;
		z-index: 1;
	}

	.menu-principal__logo{
		width: 100%;
	}

	.logo--forex img{
		width: 200px;
	}


	.menu-principal__opciones{
		padding-top: 80px;
		display: block;
		background-color: black;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 45%;
		height: 100%;
		opacity: 0.92;
		border-right: green 1px solid;
		transform: translateX(500px);
		transition: transform 0.5s ease-in-out;
		text-align: right;
		align-items: center;
	}

	.menu-principal__opciones.show{
		transform: translateX(1px);
		transition: transform 0.5s ease-in-out;
	}

	.menu__opcion {
		color: whitesmoke;
		padding: 20px 50px 20px 20px;
		margin: 10px;
		border-right: solid rgba(0, 0, 0, 0) 2px;
	}

	.menu__opcion:hover{
		border-top: 2px solid rgba(0, 0, 0, 0);
		background: rgba(225,225, 225, 0.5);
		border-radius: 10px 0px 0px 10px;
		border-right: solid green 2px;
	}

	.menu__opcion a{
		color: whitesmoke;
	}

	.menu-principal ul ul a {
	 	color: #ED9A00;
	}

	.menu-principal ul ul{
		background: black;
		z-index: 2;
		border: 1px solid white;
		right: 180px;
		top: -60px;
		
	}

}


